.center {
	text-align: center;
}

.red {
	color: red;
}

.green {
	color: green;
}

body {
	font-size: 5vh;
}

#randomChar {
	font-size: 10vh;
}

/* Mark the last letter of typos */
/* Source: https://stackoverflow.com/a/15443126/9157799 */
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
#log {
	unicode-bidi:bidi-override;
	direction:rtl;
}

#log::first-letter {
	color: red;
	font-size: 6vh;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
