@import "typeface-ubuntu";
@import "@fortawesome/fontawesome-free/css/all.css";

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 5vh;
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

#random-char {
  font-size: 10vh;
}

#last-wrong-char {
  color: red;
  font-size: 6vh;
}
